@* <h3>Component</h3>

@code {
    class Program
    {
        static void Main(string[] args)
        {
            string head;
            string body;
            string feet;
            MonsterHead();
            GhostBody();
            BugFeet();

        <h3>Component</h3>

        @code {
            class Program
            {
                static void Main(string[] args)
                {
                    string head;
                    string body;
                    string feet;
                    MonsterHead();
                    GhostBody();
                    BugFeet();

                }

                static void buildACreature(string head, string body, string feet)
                {
                    Console.WriteLine(head);
                    Console.WriteLine(body);
                    Console.WriteLine(feet);
                }

                static void GhostHead()
                {
                    return "     ..-..\n    ( o o )\n    |  O  |";
                }

                static void GhostBody()
                {
                    return "    |     |\n    |     |\n    |     |";
                }

                static void GhostFeet()
                {
                    return "    |     |\n    |     |\n    '~~~~~'";
                }

                static void BugHead()
                {
                    return "     /   \\\n     \\. ./\n    (o + o)";
                }

                static void BugBody()
                {
                    return "  --|  |  |--\n  --|  |  |--\n  --|  |  |--";
                }

                static void BugFeet()
                {
                    return "     v   v\n     *****";
                }

                static void MonsterHead()
                {
                    return "     _____\n .-,;='';_),-.\n  \\_\\(),()/_/\n　  (,___,)";
                }

                static void MonsterBody()
                {
                    return "   ,-/`~`\\-,___\n  / /).:.('--._)\n {_[ (_,_)";
                }

                static void MonsterFeet()
                {
                    return "    |  Y  |\n   /   |   \\\n   \"\"\"\" \"\"\"\"";
                }
            }
        }
        }

        static void buildACreature(string head, string body, string feet)
        {
            switch head   
        <h3>Component</h3>

        @code {
            class Program
            {
                static void Main(string[] args)
                {
                    string head;
                    string body;
                    string feet;
                    MonsterHead();
                    GhostBody();
                    BugFeet();

                }

                static void buildACreature(string head, string body, string feet)
                {
                    Console.WriteLine(head);
                    Console.WriteLine(body);
                    Console.WriteLine(feet);
                }

                static void GhostHead()
                {
                    return "     ..-..\n    ( o o )\n    |  O  |";
                }

                static void GhostBody()
                {
                    return "    |     |\n    |     |\n    |     |";
                }

                static void GhostFeet()
                {
                    return "    |     |\n    |     |\n    '~~~~~'";
                }

                static void BugHead()
                {
                    return "     /   \\\n     \\. ./\n    (o + o)";
                }

                static void BugBody()
                {
                    return "  --|  |  |--\n  --|  |  |--\n  --|  |  |--";
                }

                static void BugFeet()
                {
                    return "     v   v\n     *****";
                }

                static void MonsterHead()
                {
                    return "     _____\n .-,;='';_),-.\n  \\_\\(),()/_/\n　  (,___,)";
                }

                static void MonsterBody()
                {
                    return "   ,-/`~`\\-,___\n  / /).:.('--._)\n {_[ (_,_)";
                }

                static void MonsterFeet()
                {
                    return "    |  Y  |\n   /   |   \\\n   \"\"\"\" \"\"\"\"";
                }
            }
        }
        }

        static void GhostHead()
        {
            Console.WriteLine("     ..-..");
            Console.WriteLine("    ( o o )");
            Console.WriteLine("    |  O  |");
        }

        static void GhostBody()
        {
            Console.WriteLine("    |     |");
            Console.WriteLine("    |     |");
            Console.WriteLine("    |     |");
        }

        static void GhostFeet()
        {
            Console.WriteLine("    |     |");
            Console.WriteLine("    |     |");
            Console.WriteLine("    '~~~~~'");
        }

        static void BugHead()
        {
            Console.WriteLine("     /   \\");
            Console.WriteLine("     \\. ./");
            Console.WriteLine("    (o + o)");
        }

        static void BugBody()
        {
            Console.WriteLine("  --|  |  |--");
            Console.WriteLine("  --|  |  |--");
            Console.WriteLine("  --|  |  |--");
        }

        static void BugFeet()
        {
            Console.WriteLine("     v   v");
            Console.WriteLine("     *****");
        }

        static void MonsterHead()
        {
            Console.WriteLine("     _____");
            Console.WriteLine(" .-,;='';_),-.");
            Console.WriteLine("  \\_\\(),()/_/");
            Console.WriteLine("　  (,___,)");
        }

        static void MonsterBody()
        {
            Console.WriteLine("   ,-/`~`\\-,___");
            Console.WriteLine("  / /).:.('--._)");
            Console.WriteLine(" {_[ (_,_)");
        }

        static void MonsterFeet()
        {
            Console.WriteLine("    |  Y  |");
            Console.WriteLine("   /   |   \\");
            Console.WriteLine("   \"\"\"\" \"\"\"\"");
        }
    }
}
 *@