@page "/MoneyMaker"

<h3>Welcome to Money Maker!</h3>
<h4>Input the amount that you would like to convert:</h4>
<input type="text" @bind="cents" />
<button class="btn btn-primary" @onclick="CalculateCoins">Click me</button>

<h6>You Have @goldCoins number of gold coins!</h6>
<h6>You Have @silverCoins number of silver coins!</h6>
<h6>You Have @bronzeCoins number of bronze coins!</h6>

@code {
private double cents;
private double goldCoins;
private double silverCoins;
private double bronzeCoins;

        private void CalculateCoins()
        {
            int gold = 10;
            int silver = 5;
            int bronze = 1;

            goldCoins = Math.Floor(cents / gold);
            double goldLeft = cents % gold;
            silverCoins = Math.Floor(goldLeft / silver);
            double silverLeft = goldLeft % silver;
            bronzeCoins = Math.Ceiling(silverLeft / bronze);
        }
    }
